//Para no perderme en la anidación, voy a meter las clases para dar estilos según las voy creando con set atribute y las dejo comentadas. Así si las necesito luego no las tengo que volver a buscar.

.main__page{
    width: 100%;
    background-color: aqua;
    &--title{
    color: pink;
    }
    // &--form{

    // }
    // &--search{

    // }
}

// .search__button{

// }

// .reset__button{

// }

.drinks__section{
    width: 100%;
    display: flex;
    flex-direction: row;
    &--list{
    width: 100%;
    list-style: none;
    }
    &--item{
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
    
}
// .drinks__list{

// }

.drink__img{
    width: 10rem;
    // &__name{

    // }

}

// // .drink__delete{
// Esta es la crucecita de eliminar la bebida favorita
// }

.favdrinks__section--list{
    height: 100%;
    background-color: beige;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    // &--item{
    //     background-color: yellow;
    // }

}


.hidden{
    display: none;
}
// .search__warning{

// }