//Para no perderme en la anidación, voy a meter las clases para dar estilos según las voy creando con set atribute y las dejo comentadas. Así si las necesito luego no las tengo que volver a buscar.
body{
    width: 100%;
}
.main__page{
    width: 100vh;
    height: 100%;
    background-color: rgb(196, 207, 237);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 4rem;
    align-items: center;
    @media (min-width:768px){
        width: 100%
     }
    &--title{
    color: purple;
    font-size: 3rem;
    padding: 3rem;
    }
    &--form{
        padding: 0 3rem;
        gap:1.5rem;
        font-size: 2rem;
    }
    &--search{
        height: 3rem;
        width: 21rem;
        margin-bottom: 1.5rem;
        border: 2px solid palevioletred;
        border-radius: 2%;
        @media (min-width:768px){
           width: 25rem;
           height: 4rem;
        }
    }
}

.search__button{
    width: 5rem;
    height: 3rem;
    margin-bottom:1rem;
    margin-left: 1.8rem;
    border: 2px solid gold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 2%;
    color: black;
    background-color: palegoldenrod;
    font-weight: 700;

    @media (min-width:768px){
        margin-left: 3rem;
        height: 4rem;

    }
}

.reset__button{
    width: 5rem;
    height: 3rem;
    margin-left: 2rem;
    margin-bottom:1rem;
    border: 2px solid palevioletred;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 2%;
    background-color: white;

    @media (min-width:768px){
        height: 4rem;
    }
}

.order__sections{
    display: grid;
    grid-template-columns:1fr 1fr;
    width: 100%;
    padding: 0 1.5rem;
    // @media (min-width: 768px){
    //     grid-template-columns: 1fr 2fr;
    //     padding: 0 2rem;
    // }
    @media (min-width: 1024px){
        grid-template-columns: 1fr 2fr;
    }

}

.drinks__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:1rem;
    gap: 1.5rem;
    border: 3px solid blue;
    padding: 1rem;
    // @media (min-width: 768px){
    //     display: grid;
    //     grid-template-columns: 1fr 1fr;
    // }
    &--list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    @media (min-width: 768px){
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1020px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    }
    &--item{
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
   
    
}
.drinks__title{
    font-size: 2rem;
    font-weight: 700;
    color: purple;
    border-bottom: 1px solid blue;
    padding-bottom: 1rem;
}


.drink__img{
    width: 8rem;
    border: 2px solid blue;
    @media (min-width: 768px){
        width: 9rem;
    }
}

.drink__name{
    padding-top: 1rem;
    font-size: 1rem;
    width: 6rem;
    // &::first-line {
    //     word-spacing:;
    //   }

}

.delete__all{
    font-size: 1rem;
    color: red;
    margin-top: 1.5rem;
    line-height: 1.5;
    text-align: left;
}
.fa-circle-xmark{
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

.drink__delete{
    font-size: 2rem;
    color: red;
    width: 2rem;
}

.favdrinks__section{
    border: 3px solid blue;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favdrinks__section--list{
    list-style: none;
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: auto;
    gap: 1.5rem;



}
.fav-drink{
    background-color: lightgoldenrodyellow;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}
.hidden{
    display: none;
}
.search__warning{
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 0.8rem;
    line-height: 1.5;
    border: 1px solid purple;
    border-radius: 2%;
    background-color: aliceblue;
    padding: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}


